<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      List's of Employee
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary" style="margin-bottom: 20px;">Add New</button>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Employee #</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-info">View</button> ||
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>